[submodule "external/openPMD-api"]
	path = extern/openPMD-api
	url = https://github.com/openPMD/openPMD-api.git
[submodule "extern/openPMD-example-datasets"]
	path = extern/openPMD-example-datasets
	url = https://github.com/openPMD/openPMD-example-datasets.git
[submodule "extern/cpptrace"]
	path = extern/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
